/*
// This file is part of Taasika - a timetabling software for 
// schools, colleges/universities.
//
// Taasika is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Taasika is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Taasika.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
 *
 * Copyright 2017 Abhijit A. M. (abhijit13@gmail.com),
 * Copyright 2017 Vinay Desai (desaivinay1997@gmail.com) 
 */

/* Credits: Some parts of the styles have been borrowed from bootstrap 
 * https://getbootstrap.com/
 */

/*-----------------------------------------------------------------------/
/* Main Timetable Display Related */
body {
	margin: 0;
	overflow-x: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
header {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}
.animateButton, .animateButtonTop {
	font-size: 10px;
	padding: 2px 5px;
	margin: 0;
}
.waitMessage {
	z-index: 1;
}
.currTitle {
	color: #bd3528;
}
.selection-menu { 
	float: left;
	margin: 2px;
	padding: 2px;
	font-family: Courier;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	display: none;
	text-align: center;
}
@media (min-width: 992px) {
	.selection-menu {
		width: 100%;
	}
}
#configuration-menu {
	width: 30%;
}
#selection-menu-column {
	clear: both;
}
#title {
	background-color: #81b3fd;
	padding: 2px;
	margin: 0;
}
#title h2 {
	margin-bottom: 20px;
}
.over {
	border: 2px dashed green;
}
.outercol2 {
	width: 20%;
	border: 1px solid black;
	vertical-align: top;
}
.outercol1 {
	width: 80%;
	padding: 0;
	vertical-align: top;
	top: 0%;
}
#outerTable {
	vertical-align: top;
}
.select-menu {
	width: 100%;
}
option, select{
	font-size: 13px;
}
select.disablelook {
	-moz-appearance: button-arrow-down;
	/*below CSS specially for Chrome*/
	margin-left: 2px;
	width: 20px;
	font-size: 13px;
}
.subjectentry {
	color: red
}
.teacherentry {
	color: blue
}
.batchentry {
	color: green
}
.roomentry {
	color: black
}
.classentry {
	color: magenta
}
.timeTable {
        max-width: 100;
}
.timeTableTable {
        border-collapse: collapse;
        border: 3px solid black;
        padding: 0px;
        table-layout: fixed;
        width: 99%;
        margin-left: 0;
}
.timeTableTable select{
        max-width: 75%;
}
.slottable {
	padding: 0px;
	border: 0px solid black;
	border-width: 0px;
	margin: 1px;
}
.cell {
	/*width: 100px; 
	height: 20px; 
	padding: 0px;
	*/
	padding: 0px;
	border: 1px solid black;
	border-width: 1px;
	max-width: 5%;
	margin: 0px;
} 
.cell:hover {
	background-color: #f5f5f5;
	/*width: auto;
	border: 1px solid black;*/
}
.dayname {
	width: 10px;
	height: 5px;
	padding: 0px;
} 
.delete {
	cursor: pointer;
	float: right;
}

.delete:hover, .delete:focus {
	background-color: #DCDCDC;
}
.box {
	border: 1px solid black; 
	padding: 0px; 
	margin: 0px;
	border-radius: 5px;
	width: 100%; 
	font-size: 13px; 
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
	vertical-align: middle;
}
/*select : disabled {
	color: grey;
} */
.disabledEntries1 {
	font-size: 12px;
	color: #ff6666;
}
.disabledEntries2 {
	font-size: 12px;
	color: grey;
}
.disabledEntries3 {
	font-size: 12px;
	color: grey;
}
.outercol2 {
	width: 20%;
	border: 1px solid black;
	vertical-align: top;
}
.outercol1 {
	width: 99%;
	padding: 0;
	vertical-align: top;
	top: 0%;
}
#outerTable {
	vertical-align: top;
}
.hideButn {
	float: left;
	font-size: 15px;
	font-family: Roboto;
}
.mainTableRow {
	margin: 0px;
	padding: 0px;
}
#mainTimeTable {
	margin: 0 6px 25px 6px;
}
/*-----------------------------------------------------------------------/
/* Tracker Related */
.trackerrow {
	font: 11px Tahoma;
}
.trackerrowExtra {
	font: 11px Tahoma;
	color: green;
}
.trackertable {
	border: 1px solid black;
	margin: 8px auto;
}
.trackercol {
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	text-align: center;
	padding: 1px;
	margin: 1px;
}
.trackercolExtra {
	border-top: 1px black;
	border-bottom: 0px black;
	text-align: center;
	padding: 1px;
	margin: 1px;
}
/*-----------------------------------------------------------------------/
/* Installation Related */
.userinput {
	text-align: center;
	vertical-align: middle;
}
.userinputlabel {
	text-align: center;
	vertical-align: middle;
	font: 14px Courier;
	width: 55%;
	background-color: #ffaaaa;
	margin-bottom: 5px;
	margin-top: 5px;
}
.centeredForm {
	position: absolute;
	width: 780px;
	height: 650px;
	left: 50%;
	top: 50%;
	margin-left: -390px;
	margin-top: -250px;
}
.installMessage {
	background-color: cyan;
	font: 14px courier black;	
}
/*-----------------------------------------------------------------------/
/* All Configuration Forms Related */
.inputForm{
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	background-color: #fff;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	transition: 0.5s;
	display: none;
	overflow-y: scroll;
	overflow: auto;
	position: relative;
	vertical-align:top;

}
.inputFormTitleTable {
	width: 100%;
}
.inputFormTitle {
	font: 20px courier bold;
	width: 90%;
	padding-bottom: 20px;
}
.subsort .batchsort .teachersort .donesort {
	width: 10%;
	text-align: right;
	vertical-align: middle;
	font: 13px Tahoma bold black;
	background-color: cyan;
}
.closebtn a {
	color: black;
}
.closebtn a:hover, .closebtn a:focus {
	color: #aa4239;
}
.closebtn a {
	color: black;
}
.closebtn a:hover, .closebtn a:focus {
	color: #aa4239;
}
.inputFormTable {
	width: 100%;
}

.inputFormHeader {
	font: 20px Times bold;
	color: #aa4239;
	text-align: center;
	vertical-align: middle;
	background-color: cyan;
}
.headerRow {
	background-color: #bf4a40;
	color: #fff;
	font: 15px bold courier;
}
.headerRow th {
	text-align: center;
	padding: 3px;
	white-space: nowrap;
}
.formText {
	font: 15px Tahoma bold;
	color: black;
}
.addbutton {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid white;
	display: inline-block;
}
.addbutton:hover{
	cursor: pointer;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #F0F0F0;
}
.minbutton:hover{
	cursor: pointer;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #F0F0F0;
}
.minbutton {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
	display: inline-block;
}
/*-----------------------------------------------------------------------/
/* Misc */
.select2-container.select2-dropdown-open {
	width: 200%;
	margin-left: -70%;
}
/*-----------------------------------------------------------------------/
/* Toggle Checkbox Related */
toggle {
	float: left;
	width: 20px;
	height: 20px;
	padding: 4px;
	text-align: center;
	background: #191919;
	-webkit-border-radius: 100%;
	/*-moz-border-radius: 100%;*/
	border-radius: 100%;
	/* auto, since non-WebKit browsers doesn't support input styling */
	margin: auto 10px;
	border: 1px solid #1e90ff; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	/*appearance: none;*/
	outline: none;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(30, 144, 255, 1);
	box-shadow: 0px 0px 1px 1px rgba(30, 144, 255, 1);

}
.toggle:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
	-webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}
.toggle:after {
	content: '';
	text-shadow: 0 -1px 0 #bfbfbf;
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	margin: auto;
	-webkit-border-radius: 100%;
	/*-moz-border-radius: 100%;*/
	border-radius: 100%;
}

.toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;

	-webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);

	/* Old browsers */
	background: #87e0fd;
	/* FF3.6+ */
	background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* Opera 12+ */
	background: -o-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* IE10+ */
	background: -ms-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* W3C */
	background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/*filter: IE6-9 fallback on horizontal gradient */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); 
}
.container {
  margin: 5px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-1 {
	position: relative;
  	min-height: 1px;
 	padding-left: 15px;
  	float: left;
}
/* SELECT MENU WIDTH ADJUSTMENT */
@media (min-width: 992px) {
  .menus .col-md-1 {
    width: 11.11%;
  }
  .col-md-1.small {
  	width: 6.8%;
  }
}
/* MODAL */
.modal-container {
  padding: 10px;
  position: fixed;
  left: 1%;
  top: 2%;
  z-index: 1;
}
.track {
	margin-top: 35px;
}
@media (min-width: 300px) {
	.modal-container.warn {
		left: 75%;
	}
}
@media (min-width: 460px) {
	.modal-container.warn {
		left: 80%;
	}
}
@media (min-width: 600px) {
	.modal-container.warn {
		left: 88%;
	}
}
@media (min-width: 900px) {
	.modal-container.warn {
		left: 92%;
	}
}
@media (min-width: 1020px) {
	.modal-container.warn {
		left: 94%;
	}
}
.modal-container button {
  display: block;
  color: #fff;
  line-height: 25px;
  background: #bd3528;
  font-size: 15px;
  border: 0;
  border-radius: 6px;
  box-shadow: -1px 1px 1px 1px #333;
  transition: 0.2s ease-in;
}
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.modal-container .modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.modal-container .modal-toggle:hover ~ button { background: #fff; color: #3685fc;}
.modal-container .modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}
.modal-container .modal-toggle:checked ~ .modal-backdrop.trackme-back {
	width: 22vw;
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 85%;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 5%;
  border-radius: 4px;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content.trackme-con {
  max-width: 100%;
  padding: 10px 15px;
  margin: 0 10px;
  top: 2%;
}
@media (min-width: 760px) {
	.modal-container .modal-toggle:checked ~ .modal-backdrop.trackme-back {
		width: 28vw;
	}
	.trackertable {
		margin: 8px -6px;
	}
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: relative;
  float: right;
  background: #fff;
  font-size: 20px;
  width: 28px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  float: right;
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  padding: 8px;
  background: #81b3fd;
  color: #fff;
  width: auto;
  height: auto;
  border-radius: 2px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 40px;
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #bd3528;
}
.modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover {
	color: #333;
